
* {
 outline: none;
 box-sizing: border-box;
}


body {
 background-image: url(https://4kwallpapers.com/images/wallpapers/miami-downtown-florida-acosta-bridge-city-skyline-cityscape-2880x1800-4075.jpg);
 background-size: cover;
}




